<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="activity.com.szxb.tangren.payment">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 打印机权限 -->
    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER" />
    <application
        android:name="com.tangren.application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="record.db" />

        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />


        <meta-data
            android:name="AA_MODELS"
            android:value="com.tangren.model.bean.RecordBean"></meta-data>


        <activity
            android:name="com.tangren.szxb.Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tangren.szxb.Main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.tangren.szxb.PaymentActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.tangren.szxb.CashActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.tangren.szxb.AlipayActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.tangren.szxb.PayFinishActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.tangren.szxb.OrderActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name="com.tangren.szxb.AdminActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name="com.tangren.szxb.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
